.ktemplateLang-ar.layout3 .toc-container {
   margin-left: auto;
   margin-right: 60px
}

.ktemplateLang-ar.layout3 .toc-container .chapterNum-side {
   border-right: none;
   border-left: 2px solid #fff
}

@media (max-width: 700px) {
   .ktemplateLang-ar.layout3 .toc-container .chapterNum-side {
      border-left: none
   }
}

.ktemplateLang-ar.layout3 .toc-container .chapter-info {
   padding: 0 60px 80px 20px
}

.ktemplateLang-ar.layout3 ul li::before,
.ktemplateLang-ar.layout3 ol li::before {
   margin-left: 8px;
   margin-right: auto
}

.ktemplateLang-ar .color-container .color-ocverlay {
   left: auto;
   right: 0
}

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box
}

.myGrid {
   display: flex;
   justify-content: space-between
}

.myGrid.two-diffSides .left-col {
   width: 64%;
   word-break: break-word
}

.myGrid.two-diffSides .right-col {
   width: 34%;
   word-break: break-word
}

.myGrid.two-reverseDiffSides .left-col {
   width: 35%;
   word-break: break-word
}

.myGrid.two-reverseDiffSides .right-col {
   width: 65%;
   word-break: break-word
}

.myGrid.equal-cols .left-col {
   width: 48%;
   word-break: break-word
}

.myGrid.equal-cols .right-col {
   width: 48%;
   word-break: break-word;
   padding-top: 40px;
}

.layout3 .templateToc .color-container {
   padding: 50px 80px
}

.layout3 .toc-container {
   display: flex;
   margin-left: 60px
}

.layout3 .toc-container .chapterNum-side {
   min-width: 20%;
   max-width: 20%;
   word-break: break-word;
   text-align: center;
   border-right: 2px solid #fff
}

@media (max-width: 500px) {
   .layout3 .toc-container .chapterNum-side {
      max-width: 200px
   }
}

.layout3 .toc-container .chapterNum-side div strong {
   font-size: 5em;
   margin: 0;
   font-family: "BodoniFLF Bold";
   color: #fff
}

.layout3 .toc-container .chapter-info {
   width: 80%;
   padding: 0 20px 80px 60px
}

.layout3 h1 {
   font-size: 5em;
   margin: 0;
   font-family: "BodoniFLF Bold"
}

.layout3 h1:last-of-type {
   margin-bottom: 40px
}

.layout3 h2 {
   font-size: 3.8em;
   margin: 0;
   font-family: "BodoniFLF Bold"
}

.layout3 ul,
.layout3 ol {
   list-style: none;
   padding: 0;
   margin: 0
}

.layout3 ul li,
.layout3 ol li {
   font-size: 1.75em;
   font-family: "Proxima Nova Light"
}

.layout3 ul li::before,
.layout3 ol li::before {
   content: "-";
   display: inline-block;
   margin-right: 8px
}

.layout3 ul li span,
.layout3 ol li span {
   font-size: inherit !important
}

.layout3 .brown-bg * {
   color: #fff
}


.layout3 h2 {
   font-size: 3.8em;
   margin: 0;
   font-family: "BodoniFLF Bold"
}

.layout3 ul,
.layout3 ol {
   list-style: none;
   padding: 0;
   margin: 0
}

.layout3 ul li,
.layout3 ol li {
   font-size: 1.75em;
   font-family: "Proxima Nova Light"
}

.layout3 ul li::before,
.layout3 ol li::before {
   content: "-";
   display: inline-block;
   margin-right: 8px
}

.layout3 ul li span,
.layout3 ol li span {
   font-size: inherit !important
}

.layout3 .brown-bg * {
   color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Big Caslon Medium"
}

p {
   font-family: "Proxima Nova Light";
   font-size: 1.3em;
   color: #333
}

a {
   color: #333
}

img {
   max-width: 1005
}

div {
   font-family: "Proxima Nova Light"
}

@media (max-width: 768px) {
   .layout3 .templateToc .color-container {
      padding: 50px
   }
}

@media (max-width: 700px) {
   .layout3 .templateToc .color-container {
      padding: 50px 30px
   }

   .layout3 .toc-container {
      flex-direction: column;
      margin: 0
   }

   .layout3 .toc-container .chapterNum-side {
      text-align: left;
      border-bottom: 2px solid #fff;
      border-right: none;
      margin-bottom: 31px
   }

   .layout3 .toc-container .chapter-info {
      width: 100%;
      padding: 0 0 80px
   }
}

@media (max-width: 1024px) {
   .myGrid {
      flex-direction: column;
      align-items: center
   }

   .myGrid.two-diffSides .left-col {
      width: 100% !important;
      margin-bottom: 20px
   }

   .myGrid.two-diffSides .right-col {
      width: 100% !important
   }

   .myGrid.two-reverseDiffSides .left-col {
      width: 100% !important;
      margin-bottom: 20px
   }

   .myGrid.two-reverseDiffSides .right-col {
      width: 100% !important
   }

   .myGrid.equal-cols .left-col {
      width: 100%
   }

   .myGrid.equal-cols .right-col {
      width: 100%
   }
}


