body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.layout3 .brown-bg * {
   color: #fff;
}

.layout3 .green-bg * {
   color: #fff;
}

.layout3 .pink-bg * {
   color: #f0e6fa;
}

.color-container {
   position: relative;
}

.color-container.brown-bg {
   background-color: #934e2e;
}

.color-container.brown-bg .dark-brown {
   background-color: #89472e;
}

.color-container.green-bg {
   background-color: #384733;
}

.color-container.green-bg .dark-green {
   background-color: #2d382a;
}

.color-container.pink-bg {
   background-color: #a59bdc;
}

.color-container.pink-bg .dark-pink {
   background-color: #8f84ce;
}

.color-container>* {
   position: relative;
   z-index: 2;
}

.color-container .color-ocverlay {
   position: absolute;
   width: 20%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1;
}

.layout3 .templateToc .color-container {
   padding: 50px 80px;
}

.layout3 .toc-container {
   display: flex;
   margin-left: 60px;
}

.layout3 .toc-container .chapterNum-side {
   min-width: 20%;
   max-width: 20%;
   word-break: break-word;
   text-align: center;
   border-right: 2px solid #fff;
}

.layout3 .toc-container .chapterNum-side div strong {
   font-size: 5em;
   margin: 0;
   line-height: 0.5; 
   font-family: "BodoniFLF Bold";
   color: #fff;
}

.layout3 .toc-container .chapter-info {
   width: 90%;
   padding: 0px 10px 80px 10px;
}

@media (max-width: 768px) {
   .layout3 .templateToc .color-container {
      padding: 50px;
   }
}

@media (max-width: 700px) {
.layout3 .templateToc .color-container {
      padding: 50px 20px;
   }
}

.layout3 .toc-container .chapterNum-side {
    text-align: left;
    border-bottom: 2px solid #fff;
    border-right: none;
    margin-bottom: 30px;
}

.layout3 .toc-container .chapter-info {
    width: 100%;
    padding: 0 0 80px;
}

@media (max-width: 500px) {
.layout3 .toc-container .chapterNum-side {
   max-width: 200px;
   }
}

.layout3 .toc-container {
    flex-direction: column;
    margin: 0;
}
